<%= form_for(@worksheet) do |f| %>
  <% if @worksheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worksheet.errors.count, "error") %> prohibited this worksheet from being saved:</h2>

      <ul>
      <% @worksheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :worksheet_name %><br>
    <%= f.text_field :worksheet_name %>
  </div>
  <div class="field">
    <%= f.label :suggested_grade %><br>
    <%= f.number_field :suggested_grade %>
  </div>
  <div class="field">
    <%= f.label :arithmetic %><br>
    <%= f.check_box :arithmetic %>
  </div>
  <div class="field">
    <%= f.label :addition %><br>
    <%= f.check_box :addition %>
  </div>
  <div class="field">
    <%= f.label :subtraction %><br>
    <%= f.check_box :subtraction %>
  </div>
  <div class="field">
    <%= f.label :multiplication %><br>
    <%= f.check_box :multiplication %>
  </div>
  <div class="field">
    <%= f.label :division %><br>
    <%= f.check_box :division %>
  </div>
  <div class="field">
    <%= f.label :long_division %><br>
    <%= f.check_box :long_division %>
  </div>
  <div class="field">
    <%= f.label :reading %><br>
    <%= f.check_box :reading %>
  </div>
  <div class="field">
    <%= f.label :trick_question %><br>
    <%= f.check_box :trick_question %>
  </div>
  <div class="field">
    <%= f.label :multiple_choices %><br>
    <%= f.check_box :multiple_choices %>
  </div>
  <div class="field">
    <%= f.label :multiple_choice_answer %><br>
    <%= f.text_field :multiple_choice_answer %>
  </div>
  <div class="field">
    <%= f.label :word_problem %><br>
    <%= f.check_box :word_problem %>
  </div>
  <div class="field">
    <%= f.label :word_problem_solution_equation %><br>
    <%= f.text_area :word_problem_solution_equation %>
  </div>
  <div class="field">
    <%= f.label :integer %><br>
    <%= f.check_box :integer %>
  </div>
  <div class="field">
    <%= f.label :decimal %><br>
    <%= f.check_box :decimal %>
  </div>
  <div class="field">
    <%= f.label :number_of_decimals %><br>
    <%= f.number_field :number_of_decimals %>
  </div>
  <div class="field">
    <%= f.label :fraction %><br>
    <%= f.check_box :fraction %>
  </div>
  <div class="field">
    <%= f.label :fraction_to_decimal %><br>
    <%= f.check_box :fraction_to_decimal %>
  </div>
  <div class="field">
    <%= f.label :decimal_to_fraction %><br>
    <%= f.check_box :decimal_to_fraction %>
  </div>
  <div class="field">
    <%= f.label :significant_digits %><br>
    <%= f.number_field :significant_digits %>
  </div>
  <div class="field">
    <%= f.label :scientific_notation %><br>
    <%= f.check_box :scientific_notation %>
  </div>
  <div class="field">
    <%= f.label :parenthesis %><br>
    <%= f.check_box :parenthesis %>
  </div>
  <div class="field">
    <%= f.label :exponent %><br>
    <%= f.check_box :exponent %>
  </div>
  <div class="field">
    <%= f.label :roots %><br>
    <%= f.check_box :roots %>
  </div>
  <div class="field">
    <%= f.label :square_root %><br>
    <%= f.check_box :square_root %>
  </div>
  <div class="field">
    <%= f.label :cube_root %><br>
    <%= f.check_box :cube_root %>
  </div>
  <div class="field">
    <%= f.label :factoring %><br>
    <%= f.check_box :factoring %>
  </div>
  <div class="field">
    <%= f.label :foil %><br>
    <%= f.check_box :foil %>
  </div>
  <div class="field">
    <%= f.label :variables %><br>
    <%= f.check_box :variables %>
  </div>
  <div class="field">
    <%= f.label :number_of_variables %><br>
    <%= f.number_field :number_of_variables %>
  </div>
  <div class="field">
    <%= f.label :imaginary_number %><br>
    <%= f.check_box :imaginary_number %>
  </div>
  <div class="field">
    <%= f.label :degree %><br>
    <%= f.check_box :degree %>
  </div>
  <div class="field">
    <%= f.label :radian %><br>
    <%= f.check_box :radian %>
  </div>
  <div class="field">
    <%= f.label :trigonometry %><br>
    <%= f.check_box :trigonometry %>
  </div>
  <div class="field">
    <%= f.label :sin %><br>
    <%= f.check_box :sin %>
  </div>
  <div class="field">
    <%= f.label :cos %><br>
    <%= f.check_box :cos %>
  </div>
  <div class="field">
    <%= f.label :tan %><br>
    <%= f.check_box :tan %>
  </div>
  <div class="field">
    <%= f.label :csc %><br>
    <%= f.check_box :csc %>
  </div>
  <div class="field">
    <%= f.label :sec %><br>
    <%= f.check_box :sec %>
  </div>
  <div class="field">
    <%= f.label :cot %><br>
    <%= f.check_box :cot %>
  </div>
  <div class="field">
    <%= f.label :arcsin %><br>
    <%= f.check_box :arcsin %>
  </div>
  <div class="field">
    <%= f.label :arccos %><br>
    <%= f.check_box :arccos %>
  </div>
  <div class="field">
    <%= f.label :arctan %><br>
    <%= f.check_box :arctan %>
  </div>
  <div class="field">
    <%= f.label :arccsc %><br>
    <%= f.check_box :arccsc %>
  </div>
  <div class="field">
    <%= f.label :arcsec %><br>
    <%= f.check_box :arcsec %>
  </div>
  <div class="field">
    <%= f.label :arccot %><br>
    <%= f.check_box :arccot %>
  </div>
  <div class="field">
    <%= f.label :simple_shapes_area %><br>
    <%= f.check_box :simple_shapes_area %>
  </div>
  <div class="field">
    <%= f.label :simple_shapes_circumference %><br>
    <%= f.check_box :simple_shapes_circumference %>
  </div>
  <div class="field">
    <%= f.label :simple_shapes_volume %><br>
    <%= f.check_box :simple_shapes_volume %>
  </div>
  <div class="field">
    <%= f.label :combination_shapes_area %><br>
    <%= f.check_box :combination_shapes_area %>
  </div>
  <div class="field">
    <%= f.label :combination_shapes_circumference %><br>
    <%= f.check_box :combination_shapes_circumference %>
  </div>
  <div class="field">
    <%= f.label :combination_shapes_volume %><br>
    <%= f.check_box :combination_shapes_volume %>
  </div>
  <div class="field">
    <%= f.label :ratios %><br>
    <%= f.check_box :ratios %>
  </div>
  <div class="field">
    <%= f.label :functions %><br>
    <%= f.check_box :functions %>
  </div>
  <div class="field">
    <%= f.label :equation %><br>
    <%= f.check_box :equation %>
  </div>
  <div class="field">
    <%= f.label :inequality %><br>
    <%= f.check_box :inequality %>
  </div>
  <div class="field">
    <%= f.label :plotting %><br>
    <%= f.check_box :plotting %>
  </div>
  <div class="field">
    <%= f.label :graph %><br>
    <%= f.check_box :graph %>
  </div>
  <div class="field">
    <%= f.label :slope %><br>
    <%= f.check_box :slope %>
  </div>
  <div class="field">
    <%= f.label :upper_bound %><br>
    <%= f.text_field :upper_bound %>
  </div>
  <div class="field">
    <%= f.label :lower_bound %><br>
    <%= f.text_field :lower_bound %>
  </div>
  <div class="field">
    <%= f.label :questions %><br>
    <%= f.text_area :questions %>
  </div>
  <div class="field">
    <%= f.label :answers %><br>
    <%= f.text_area :answers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
