<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @worksheet.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @worksheet.description %>
</p>

<p>
  <strong>Worksheet name:</strong>
  <%= @worksheet.worksheet_name %>
</p>

<p>
  <strong>Suggested grade:</strong>
  <%= @worksheet.suggested_grade %>
</p>

<p>
  <strong>Arithmetic:</strong>
  <%= @worksheet.arithmetic %>
</p>

<p>
  <strong>Addition:</strong>
  <%= @worksheet.addition %>
</p>

<p>
  <strong>Subtraction:</strong>
  <%= @worksheet.subtraction %>
</p>

<p>
  <strong>Multiplication:</strong>
  <%= @worksheet.multiplication %>
</p>

<p>
  <strong>Division:</strong>
  <%= @worksheet.division %>
</p>

<p>
  <strong>Long division:</strong>
  <%= @worksheet.long_division %>
</p>

<p>
  <strong>Reading:</strong>
  <%= @worksheet.reading %>
</p>

<p>
  <strong>Trick question:</strong>
  <%= @worksheet.trick_question %>
</p>

<p>
  <strong>Multiple choices:</strong>
  <%= @worksheet.multiple_choices %>
</p>

<p>
  <strong>Multiple choice answer:</strong>
  <%= @worksheet.multiple_choice_answer %>
</p>

<p>
  <strong>Word problem:</strong>
  <%= @worksheet.word_problem %>
</p>

<p>
  <strong>Word problem solution equation:</strong>
  <%= @worksheet.word_problem_solution_equation %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @worksheet.integer %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @worksheet.decimal %>
</p>

<p>
  <strong>Number of decimals:</strong>
  <%= @worksheet.number_of_decimals %>
</p>

<p>
  <strong>Fraction:</strong>
  <%= @worksheet.fraction %>
</p>

<p>
  <strong>Fraction to decimal:</strong>
  <%= @worksheet.fraction_to_decimal %>
</p>

<p>
  <strong>Decimal to fraction:</strong>
  <%= @worksheet.decimal_to_fraction %>
</p>

<p>
  <strong>Significant digits:</strong>
  <%= @worksheet.significant_digits %>
</p>

<p>
  <strong>Scientific notation:</strong>
  <%= @worksheet.scientific_notation %>
</p>

<p>
  <strong>Parenthesis:</strong>
  <%= @worksheet.parenthesis %>
</p>

<p>
  <strong>Exponent:</strong>
  <%= @worksheet.exponent %>
</p>

<p>
  <strong>Roots:</strong>
  <%= @worksheet.roots %>
</p>

<p>
  <strong>Square root:</strong>
  <%= @worksheet.square_root %>
</p>

<p>
  <strong>Cube root:</strong>
  <%= @worksheet.cube_root %>
</p>

<p>
  <strong>Factoring:</strong>
  <%= @worksheet.factoring %>
</p>

<p>
  <strong>Foil:</strong>
  <%= @worksheet.foil %>
</p>

<p>
  <strong>Variables:</strong>
  <%= @worksheet.variables %>
</p>

<p>
  <strong>Number of variables:</strong>
  <%= @worksheet.number_of_variables %>
</p>

<p>
  <strong>Imaginary number:</strong>
  <%= @worksheet.imaginary_number %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @worksheet.degree %>
</p>

<p>
  <strong>Radian:</strong>
  <%= @worksheet.radian %>
</p>

<p>
  <strong>Trigonometry:</strong>
  <%= @worksheet.trigonometry %>
</p>

<p>
  <strong>Sin:</strong>
  <%= @worksheet.sin %>
</p>

<p>
  <strong>Cos:</strong>
  <%= @worksheet.cos %>
</p>

<p>
  <strong>Tan:</strong>
  <%= @worksheet.tan %>
</p>

<p>
  <strong>Csc:</strong>
  <%= @worksheet.csc %>
</p>

<p>
  <strong>Sec:</strong>
  <%= @worksheet.sec %>
</p>

<p>
  <strong>Cot:</strong>
  <%= @worksheet.cot %>
</p>

<p>
  <strong>Arcsin:</strong>
  <%= @worksheet.arcsin %>
</p>

<p>
  <strong>Arccos:</strong>
  <%= @worksheet.arccos %>
</p>

<p>
  <strong>Arctan:</strong>
  <%= @worksheet.arctan %>
</p>

<p>
  <strong>Arccsc:</strong>
  <%= @worksheet.arccsc %>
</p>

<p>
  <strong>Arcsec:</strong>
  <%= @worksheet.arcsec %>
</p>

<p>
  <strong>Arccot:</strong>
  <%= @worksheet.arccot %>
</p>

<p>
  <strong>Simple shapes area:</strong>
  <%= @worksheet.simple_shapes_area %>
</p>

<p>
  <strong>Simple shapes circumference:</strong>
  <%= @worksheet.simple_shapes_circumference %>
</p>

<p>
  <strong>Simple shapes volume:</strong>
  <%= @worksheet.simple_shapes_volume %>
</p>

<p>
  <strong>Combination shapes area:</strong>
  <%= @worksheet.combination_shapes_area %>
</p>

<p>
  <strong>Combination shapes circumference:</strong>
  <%= @worksheet.combination_shapes_circumference %>
</p>

<p>
  <strong>Combination shapes volume:</strong>
  <%= @worksheet.combination_shapes_volume %>
</p>

<p>
  <strong>Ratios:</strong>
  <%= @worksheet.ratios %>
</p>

<p>
  <strong>Functions:</strong>
  <%= @worksheet.functions %>
</p>

<p>
  <strong>Equation:</strong>
  <%= @worksheet.equation %>
</p>

<p>
  <strong>Inequality:</strong>
  <%= @worksheet.inequality %>
</p>

<p>
  <strong>Plotting:</strong>
  <%= @worksheet.plotting %>
</p>

<p>
  <strong>Graph:</strong>
  <%= @worksheet.graph %>
</p>

<p>
  <strong>Slope:</strong>
  <%= @worksheet.slope %>
</p>

<p>
  <strong>Upper bound:</strong>
  <%= @worksheet.upper_bound %>
</p>

<p>
  <strong>Lower bound:</strong>
  <%= @worksheet.lower_bound %>
</p>

<p>
  <strong>Questions:</strong>
  <%= @worksheet.questions %>
</p>

<p>
  <strong>Answers:</strong>
  <%= @worksheet.answers %>
</p>

<%= link_to 'Edit', edit_worksheet_path(@worksheet) %> |
<%= link_to 'Back', worksheets_path %>
