<h1>My Questions</h1>
<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Suggested grade</th>
      <th>Specialized</th>
      <th>The question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.author %></td>
        <td><%= question.suggested_grade %></td>
        <td><%= question.specialized %></td> 
        <td>$$<%= question.the_question %>$$</td>
        <td><%= link_to 'Show', question %></td>
      </tr>
    <% end %>
  </tbody>
  <%= will_paginate @questions %>
</table>
